@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');


body {
    background-color: bisque;
}

h1 {
    text-shadow: 3px 1px 5px; /* horizontal, vertical, blur, color */
    color: brown;
    font-family: "Almendra SC", serif;
    font-weight: 200;
    word-spacing: 4px;
}

.box {
    background-color: cadetblue;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 0 4px;
}